* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'nunito';
}


main {
  display: flex;
  height: calc(100vh - 100px);
  background-color: #141922;
}

header {
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  max-height: 100px;
  background-color: rgba(8, 11, 18, 0.5);
  color: #fff;
  display: flex;
  justify-content: right;

}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: #282828;
  width: 100%;
}

.container {
  max-width: 1800px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  margin-left: 30px;
}

.row-2 {
  display: flex;
  flex-direction: row;
}

.row-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  width: calc(100% / 6);
}

section {
  width: calc(100% - 200px);
}

/* SIDEBAR */

#logo {
  width: 150px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

#sidebar {
  display: block;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  background-color: #000;

}

#sidebar-2 {
  display: none;
}

.nav-side {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

.home-buttons {
  margin: 10px 0;
  padding-left: 20px;
  display: flex;
  font-size: 14px;
  font-weight: 600;
}

.home-buttons:nth-child(1) {
  border-left: 2px solid #99e02d;
}

.home-buttons img {
  width: 20px;
  margin-right: 10px;
}

.home-buttons:hover {
  color: #fff;
  cursor: pointer;
}



.playlist {
  margin: 30px 20px;
  font-weight: 600;
}

.playlist h4 {
  text-transform: uppercase;
  font-size: 16px;
}

.playlist h4,
.square-box {
  margin: 5px 0;
}

.playlist li {
  margin-top: 5px;
}

.playlist li:hover {
  cursor: pointer;
  color: #fff;
}

.user {
  margin: 10px 20px;
}

.square-box {
  background-color: #797979;
  width: 25px;
  height: 25px;
  color: #000;
  text-align: center;
  margin-right: 10px;

}

.square-box i {
  vertical-align: middle;
  font-weight: bolder;
}

.playlist-add {
  display: flex;
  flex-direction: row;
}

.playlist-add:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.download {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #797979;
  font-weight: 700;
}


.download:hover {
  color: #fff;
  cursor: pointer;
}

.profile {
  color: #fff;
  font-weight: bold;
}



.user img {
  width: 20px;
  margin-right: 10px;
  filter: brightness(70%);
}

.profile-icon {
  background-color: #797979;
  border-radius: 50%;
}



/* HEADER */

.upgrade {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  width: 200px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #fff;
}

.upgrade:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* CENTER MENU */


.center-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  padding: 0px 30px;
  width: 100%;
  color: white;
}

.center-menu ul {
  display: flex;
}

.center-menu li {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 3px;
}

.center-menu ul li:first-child::after {
  content: '';
  align-self: center;
  width: 40%;
  height: 2px;
  background-color: #99e02d;
}

.center-menu li:hover {
  color: #fff;
  cursor: pointer;
}

/* RECENTLY PLAYED */
.title {
  margin: 0 30px;
  font-size: 36px;
}

.music-card {
  width: 200px;
}

.card-img {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
}

.card-img:hover {
  cursor: pointer;
}

.card-img:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}

.overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: #fff;
}

.card-txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-txt h4,
.card-txt p {
  margin-top: 5px;
  padding: 5px 0;
  margin: 0 5px;
}

/* FOOTER */

.player {
  width: 50%;
}

.left-player {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-p {
  margin-left: 40px;
}

.right-p i:hover {
  color: #fff;
  cursor: pointer;
}

.left-player img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.time-bar {
  position: relative;
  width: 90%;
  height: 5px;
  border-radius: 10px;
  background-color: #797979;
}

.elapsed-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: silver;
  width: 20%;
  border-radius: 10px;
}

.control-point {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
}

.time-elapsed,
.time-total {
  width: 3%;
}

.time-bar:hover .elapsed-bar {
  background-color: #99e02d;
  cursor: pointer;
}

.time-bar:hover .control-point,
.volume-bar:hover .control-point {
  opacity: 1;
  cursor: pointer;
}

.volume-bar {
  position: relative;
  margin-left: 10px;
  width: 100px;
  height: 5px;
  border-radius: 10px;
  background-color: #797979;
}

.current-volume {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: silver;
  width: 20%;
  border-radius: 10px;
}

.volume-bar:hover .current-volume {
  background-color: #99e02d;
  cursor: pointer;
}



.top-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.top-player i {
  margin: 0 10px;
}

.top-player i:nth-child(3) {
  font-size: 26px;
}

.top-player i:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.right-player i {
  font-size: 12px;
  margin: 0 5px;
}

/* UTILITIES */

.flex-foot {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overflow-scroll {
  overflow-y: scroll;
  max-height: calc(100% - 10px);
}

.margin-top-50 {
  margin-top: 50px;
}

.w-100x {
  width: 100%;
}

.y-middle {
  align-content: center;
}

.b {
  font-weight: bold;
}

.w-200 {
  width: 200px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.my-10 {
  margin: 10px 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.my-30 {
  margin: 30px 0;
}

.mx-30 {
  margin: 0 30px;
}

.mx-10 {
  margin: 0 10px;
}

.circled {
  border-radius: 50%;
}

/* COLORS */



.color-gray {
  color: #797979;
}

.color-white {
  color: #fff;
}